body {
background-color:white;
margin:0px 0px 0px 0px;
}
h1 {
font-family:Segoe Script, comic sans ms, sans-serif;
font-size:200%;
color:#CC9933;
background-color:transparent;
text-align:center;
}
h2 {
font-family:verdana, comic sans ms, sans-serif;
font-size:120%;
text-decoration:underline;
color:#CC9933;
background-color:transparent;
}
h3 {
font-family:"segoe script",comic, sans-serif;
font-size:110%;
font-style: bold;
line-height: 1.2em;
color:black;
background-color:transparent;
text-align:left;
}
h4 {
font-family:"segoe script",comic, sans-serif;
font-size:90%;
font-style: bold;
color:black;
background-color:transparent;
text-align:left;
}
p {
font-family:verdana, sans-serif;
font-size:75%;
color: #555555;
background-color:transparent;
margin-left:0px;
margin-right:0px;
}
li {
font-family:"verdana",comic, sans-serif;
font-size:70%;
font-style: bold;
color:blue;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
}
a:link {
color:blue;
background-color:transparent;
text-decoration:none;
}
a:visited {
color:blue;
background-color:transparent;
text-decoration:none;
}
a:hover {
color:black;
background-color:transparent;
text-decoration:underline;
}