/* EDITEUR WYSIWYG */
.wEditor
{
  clear       : both;
  float       : none;
  margin      : 5px 0px 5px 0px;
  padding     : 0px;
  border      : 1px solid #000000;
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size   : 11px;
  color       : #000000;
}

.wEditor .wMenu
{
  display          : none;
  margin           : 0px;
  padding          : 0px 2px 0px 2px;
  line-height      : 10px;
  background-color : ThreeDLightShadow;
  border-top       : 1px solid ThreeDHighlight;
  border-bottom    : 1px solid ThreeDShadow;
  color            : MenuText;
  cursor           : default;
}
.wEditor .wMenu .menuSeparator
{
  margin     : 2px 0px 2px 0px;
  padding    : 1px;
  width      : 5px;
  text-align : center;
}

.wEditor .wInfo
{
  display          : none;
  position         : absolute;
  margin           : 0px;
  padding          : 5px 3px 5px 3px;
  width            : 100%;
  background-color : InfoBackground;
  border-bottom    : 1px solid ThreeDShadow;
  color            : InfoText;
  cursor           : default;
}
.wEditor .wInfo img { vertical-align : middle; }
.wEditor .wInfo a   { color : blue; }

.wEditor .wContextMenu
{
  display          : none;
  position         : absolute;
  margin           : 0px;
  padding          : 0px;
  line-height      : 16px;
  background-color : Menu;
  border           : 1px solid ThreeDShadow;
  color            : MenuText;
  cursor           : default;
}

.wEditor .wContextMenu .mContent
{
  margin  : 0px;
  padding : 0px;
  width   : auto;
  border  : 1px solid ThreeDHighlight;
}

.wEditor .wContextMenu .menuTitle
{
  margin           : 0px;
  padding          : 2px;
  background-color : ThreeDHighlight;
  border-bottom    : 1px solid ThreeDShadow;
  text-align       : center;
}

.wEditor .wContextMenu .mContent img
{
  margin         : 0px 3px 0px 0px;
  vertical-align : top;
}

.wEditor .wContextMenu .colorItem
{
  float       : left;
  margin      : 1px;
  padding     : 0px;
  width       : 12px;
  line-height : 12px;
  border      : 1px solid #000000;
}

.wEditor .wContextMenu .menuItem, .wEditor .wContextMenu .menuItem_disabled
{
  margin      : 1px;
  padding     : 2px 3px 2px 3px;
  line-height : normal;
}

.wEditor .wContextMenu .menuItem_hover
{
  margin           : 1px;
  padding          : 2px 3px 2px 3px;
  line-height      : normal;
  background-color : ThreeDHighlight;
  border           : 1px solid ThreeDShadow;
}

.wEditor .wContextMenu .itemLabel { padding : 0px 19px 0px 0px; line-height : 16px; }
.wEditor .wContextMenu .sizeLabel { text-align : center; }

.wEditor .wContextMenu .menuSeparator
{
  margin        : 2px 0px 2px 0px;
  padding       : 0px;
  border-top    : 1px solid ThreeDShadow;
  border-bottom : 1px solid ThreeDHighlight;
  line-height   : 2px;
}

.wEditor .menuItem, .wEditor .menuItem_hover, .wEditor .menuItem_selected, .wEditor .menuItem_disabled
{
  margin  : 2px 1px 2px 1px;
  padding : 1px;
}

.wEditor .menuItem
{
  border : 1px solid ThreeDLightShadow;
}

.wEditor .menuItem_hover
{
  border : 1px solid ThreeDShadow;
}

.wEditor .menuItem_selected
{
  background-color : ThreeDHighlight;
  border           : 1px solid ThreeDShadow;
}

.wEditor .menuItem_disabled
{
  border : 1px solid ThreeDLightShadow;
  color  : ThreeDShadow;
}

.wEditor .wFrame
{
  margin           : 0px;
  padding          : 0px;
  width            : 100%;
  background-color : #ffffff;
  border           : none;
}

.wEditor .wStatus
{
  margin           : 0px;
  padding          : 2px 0px 1px 0px;
  height           : 18px;
  background-color : ThreeDLightShadow;
  border-top       : 1px solid ThreeDShadow;
}

.wEditor .wStatusText
{
  margin           : 0px;
  padding          : 0px 3px 0px 3px;
  line-height      : 16px;
  background-color : ThreeDLightShadow;
  border-top       : 1px solid ThreeDShadow;
  border-right     : 1px solid ThreeDHighlight;
  border-bottom    : 1px solid ThreeDHighlight;
  border-left      : 1px solid ThreeDShadow;
  font-size        : 10px;
  color            : MenuText;
  cursor           : default;
}
