body {
background-color:#F0E3C0;
color:#000000;
font-family:Arial;
}

div.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #721725;
   color: white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td {
   background-color: wheat;
   color: #721725;
}

.table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #f2f2f2;
   color: #721725;
}

.table-striped > tbody > tr:nth-child(2n) > td {
   background-color: moccasin;
   color: #721725;
}

.panel-heading {
  background-color: #721725;
  border-width:1;
  border-style:solid;
  font-size:18px;
  text-align: center;
  color : white;
  margin-right: 10%;
  margin-left: 10%;
}

div.panel-wizard {
    flex: 1 1 auto;
}

.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
